.adc-default ul,
.adc-default li
{
    margin  : 0;
    padding : 0;
}
html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
    -webkit-tap-highlight-color: transparent;
}
.adc-imageHotspot {
    position: relative;
    height: 100%;
    width: 100%;
    overflow:visible;
}

.adc-imageHotspot .popupDisplayed {
    display: none;
}

.adc-imageHotspot svg {
    display: block;
    width: 100%;
    max-width: 100%;
    z-index: 2;
}

.adc-imageHotspot .container {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    max-width: 100%;
}

.adc-imageHotspot img {
    width: 100%;
    height: auto;
    z-index: 1;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* general style of the buttons */

.adc-imageHotspot button {
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-style: solid;
    border-color: #555;
    background-color: #555;
    background-repeat: no-repeat; 
    z-index: 12;
}


/* The actual popup (appears on top) */

.adc-imageHotspot .popuptext {
    visibility: hidden;
    color: #fff;
    background-color: #555;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
    position: absolute;
    z-index: 12;
    cursor: default;
}


/* Popup arrow */

.adc-imageHotspot .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


/* show the popup */
.adc-imageHotspot .show {
    visibility: visible;
}

.adc-imageHotspot path.unselected {
	/* display:none */
}